* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: black;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  h2 {
    position: absolute;
    font-family: "Pexel";
    font-size: 82px;
    color: white;
    z-index: 1;
    left: 100px;
    top: 300px;
    width: 900px;
  }
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 999;
  .inner-header {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: black;
      font-family: "Pexel";
      font-size: 28px;
    }
  }
}

/* FONTS */

@font-face {
  font-family: Pexel;
  src: url("/Type/Pexel.otf");
}
