* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: black;
  font-family: "Pexel";
}

.content {
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 9999;
  .inner-header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-item,
    .right-item {
      font-size: 28px;
      cursor: pointer;
    }
  }
}

.page {
  color: white;
  width: 100vw;
  .hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    h2 {
      white-space: nowrap;
      font-size: 82px;
      z-index: 0;
      width: 70vw;
      top: 27vh;
      left: 100px;
      position: absolute;
    }
    p {
      font-size: 22px;
    }
    .scroll {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 30px;
      font-size: 26px;
    }
  }
}

.nav {
  position: fixed;
  list-style-type: none;
  color: black;
  right: 25px;
  top: 35vh;
  text-align: right;
  font-size: 24px;
  z-index: 3;
  li {
    width: 200px;
    padding: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}

.content-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75vw;
  gap: 40px;
  margin-left: 50px;
}

.info-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  position: relative;
  .num-label {
    position: absolute;
    font-size: 12px;
    top: 10px;
    left: 10px;
  }
  p {
    white-space: wrap;
    width: 35vw;
    margin: 36px;
    font-size: 28px;
  }
  img {
    width: 50%;
    height: auto;
    border-radius: 12px;
    margin: 26px;
  }
  ul {
    font-size: 24px;
    width: auto;
  }
}

.daily {
  z-index: 998;
  color: white;
  min-height: 100vh;
  .top {
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h1 {
      width: 60vw;
      font-size: 60px;
      margin: 50px;
    }
  }
  .grid {
    padding-left: 10vw;
    padding-right: 10vw;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 14px;
    margin-bottom: 100px;
  }
}

.item {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 16px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.25);
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  z-index: 999;
  cursor: pointer;
  .name {
    position: absolute;
    top: 18px;
    left: 18px;
  }
  .id {
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .drawing {
    width: 100%;
    aspect-ratio: 1;
  }
  .date {
    position: absolute;
    bottom: 18px;
    right: 18px;
  }
}

.back-btn {
  color: white;
  font-size: 28px;
  position: fixed;
  bottom: 24px;
  left: 24px;
  cursor: pointer;
  z-index: 999;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.contact {
  color: white;
  .top {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h1 {
      width: 60vw;
      font-size: 80px;
      margin: 50px;
    }
  }
  .grid {
    padding-left: 15vw;
    padding-right: 15vw;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    grid-gap: 18px;
  }
}

.contact-item {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 16px;
  padding: 40px;
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  z-index: 999;
  cursor: pointer;
  .name {
    position: absolute;
    top: 12px;
    left: 12px;
  }
  .logo {
    width: 100%;
    aspect-ratio: 1;
    color: white;
  }
}

.spotify {
  width: 100%;
  border-radius: 20px;
  border: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9998;
  background-color: rgba(120, 120, 120, 0.464);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  .drop-container {
    width: 90vw;
    height: 60vw;
    h2 {
      text-decoration: none;
      font-size: 24px;
      width: auto;
      text-align: center;
      font-size: 40px;
      color: white;
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 768px) {
  .header {
    .inner-header {
      .h1 {
        font-size: 24px;
      }
    }
  }
  .daily {
    .top {
      h1 {
        font-size: 40px;
        padding: 0;
        width: 90%;
      }
    }
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .backrgound {
    width: 400vw;
  }
  .page {
    .hero {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        font-size: 40px;
        white-space: wrap;
        left: 0;
        width: 90vw;
        height: auto;
        text-align: center;
        margin: 5vw;
      }
    }
  }

  .info-container {
    box-sizing: border-box;
    margin: 5vw;
    width: 90vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px;
    gap: 20px;
    margin-top: 0px;
    p {
      white-space: wrap;
      font-size: 24px;
      width: 100%;
      text-align: center;
      margin: 0;
    }
    img {
      margin: 0;
      width: 100%;
      height: auto;
      border-radius: 12px;
      border: none;
    }
    ul {
      font-size: 24px;
      width: auto;
    }
  }
  .contact {
    .top {
      padding-top: 12vh;
      height: auto;
      h1 {
        padding-top: 40px;
        top: 20vh;
        text-align: center;
        font-size: 42px;
      }
    }
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .spotify {
    box-sizing: border-box;
    margin: 5vw;
    margin-top: 0px;
    width: 90vw;
  }

  .scroll {
    padding-bottom: 10vh;
  }
  .content-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    gap: 0px;
  }
}

@font-face {
  font-family: Pexel;
  src: url("/Type/Pexel.otf");
}
