* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: black;
}

.content {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 999;
  .inner-header {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: black;
      font-family: "Pexel";
      font-size: 28px;
    }
  }
}

.welcome {
  position: absolute;
  font-family: "Pexel";
  font-size: 82px;
  color: white;
  z-index: 0;
  width: 900px;
  top: 25%;
  left: 65px;
}

.work {
  position: absolute;
  font-family: "Pexel";
  font-size: 82px;
  color: white;
  z-index: 0;
  width: 900px;
  top: 25%;
  left: 65px;
}

.education {
  position: absolute;
  font-family: "Pexel";
  font-size: 82px;
  color: white;
  z-index: 0;
  width: 900px;
  top: 25%;
  left: 65px;
}

.passions {
  position: absolute;
  font-family: "Pexel";
  font-size: 82px;
  color: white;
  z-index: 0;
  width: 900px;
  top: 25%;
  left: 65px;
}

.nav {
  position: absolute;
  list-style-type: none;
  color: black;
  right: 25px;
  top: 40vh;
  text-align: right;
  font-family: "Pexel";
  font-size: 24px;
  z-index: 999;
  li {
    width: 200px;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

/* FONTS */

@font-face {
  font-family: Pexel;
  src: url("/Type/Pexel.otf");
}
